<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--    the commented lines must be added in each place where this fragment is used-->
    <!--    &lt;!&ndash; ICONS &ndash;&gt;-->
    <!--    <script src="https://unpkg.com/@phosphor-icons/web"></script>-->
    <!--    &lt;!&ndash; STYLESHEET &ndash;&gt;-->
    <!--    <link rel="stylesheet" th:href="@{css/test.css}">-->

    <title>Sidebar</title>
</head>
<body>
<div th:fragment="header">
    <div class="sidebar">
        <div class="menu-btn">
            <i class="ph-bold ph-caret-left"></i>
        </div>
        <div class="head">
            <div class="user-img">
                <a th:href="@{/profile}">
                    <img width="28" height="28" src="https://img.icons8.com/pulsar-line/48/1A1A1A/user.png" alt="user"/>                </a>
            </div>
            <div class="user-details">
                <p class="title"> Sa7tak3ena</p>
                <p class="name"> Welcome Back</p>
            </div>
        </div>
        <div class="nav">
            <div class="menu">
                <p class="title">Main</p>
                <ul>
                    <li class="active">
                        <a th:href="@{/home}">
                            <i class="icon ph-bold ph-house-simple"></i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" id="RequestBtn">
                            <img width="18" height="18" src="https://img.icons8.com/external-smashingstocks-glyph-smashing-stocks/66/1A1A1A/external-hospital-bed-emergency-and-help-center-smashingstocks-glyph-smashing-stocks.png" alt="external-hospital-bed-emergency-and-help-center-smashingstocks-glyph-smashing-stocks"/>
                            <span class="text">Request Bed</span>
                        </a>
                    </li>
                    <li>
                        <a th:href=" @{/fullAmbulance_request}">
                            <img width="18" height="18" src="https://img.icons8.com/external-smashingstocks-glyph-smashing-stocks/66/1A1A1A/external-hospital-bed-emergency-and-help-center-smashingstocks-glyph-smashing-stocks.png" alt="external-hospital-bed-emergency-and-help-center-smashingstocks-glyph-smashing-stocks"/>
                            <span class="text">Request Ambulance</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="icon ph-bold ph-user"></i>
                            <span class="text">Reservations</span>
                            <i class="arrow ph-bold ph-caret-down"></i>
                        </a>
                        <ul class="sub-menu">

                            <li>
                                <a th:href="@{/get-all-reservations}">
                                    <span class="text">My Reservations</span>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/get-all-reservations}">
                                    <span class="text">History Reservations</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li >
                        <a th:href="@{/donateAmbulance}">
                            <img width="18" height="18" src="https://img.icons8.com/external-others-pike-picture/50/1A1A1A/external-coins-pension-retirement-others-pike-picture.png" alt="external-coins-pension-retirement-others-pike-picture"/>
                            <span class="text">Donate</span>

                        </a>
                    </li>

                    <li>
                        <a th:href="@{/hospitals}">
                            <img width="18" height="18" src="https://img.icons8.com/pastel-glyph/64/hospital--v5.png" alt="hospital--v5"/>
                            <span class="text">Hospitals</span>
                        </a>
                    </li>

                    <li >
                        <a th:href="@{/ambulance-contactInfo}">
                            <img width="18" height="18" src="https://img.icons8.com/ios/50/ambulance--v1.png" alt="ambulance--v1"/>
                            <span class="text">Ambulances</span>
                        </a>
                    </li>


                </ul>
            </div>
        </div>
        <div class="menu">

            <p class="title">Account</p>
            <ul>
                <li>
                    <a href="#">
                        <img width="18" height="18" src="https://img.icons8.com/pulsar-line/48/1A1A1A/user.png" alt="user"/>
                        <span class="text">Profile</span>
                        <i class="arrow ph-bold ph-caret-down"></i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a th:href="@{/profile}">
                                <img width="18" height="18" src="https://img.icons8.com/pulsar-line/48/1A1A1A/user.png" alt="user"/>
                                <span class="text">Profile</span>
                            </a>
                        </li>
                        <li th:if="${user.feedback == null}">
                            <a th:href="@{/feed}">
                                <img width="18" height="18" src="https://img.icons8.com/pulsar-line/48/1A1A1A/thumbs-up-down.png" alt="thumbs-up-down"/>
                                <span class="text">Feedback</span>
                            </a>
                        </li>
                    </ul>
                </li>


                <li>
                    <a th:href="@{/logout}">
                        <i class="icon ph-bold ph-sign-out"></i>
                        <span class="text">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Jquery -->
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js"
            integrity="sha512-8Z5++K1rB3U+USaLKG6oO8uWWBhdYsM3hmdirnOEWp8h2B1aOikj5zBzlXs8QOrvY9OxEnD2QDkbSKKpfqcIWw=="
            crossorigin="anonymous"
    ></script>
    <script th:src="@{js/test.js}"></script>

<script th:inline="javascript">
    document.getElementById("RequestBtn").addEventListener("click", function(event) {
        event.preventDefault(); // Prevent the default behavior of the anchor tag
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var lat = position.coords.latitude;
                var lon = position.coords.longitude;
                // Modify the href attribute to include latitude and longitude
                var url = '/request-form2?lat=' + lat + '&lon=' + lon;
                window.location.href = url;
            });
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    });
</script>
</div>
</body>
</html>

