<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Include Bootstrap JavaScript and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{css/test.css}">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>

</head>

<body>
    <div class="d-flex">
        <div th:replace="fragments/Pheader :: header"></div>
            <div class="container m-3">
                <div class="card col-6">

                    <img class="card-header p-0" alt="" th:src="@{/assits/Ambulances.jpg}">
                    <div class="card-body">
                        <form class="form" th:action="@{/ambulance_detailrequest}" method="post">
                            <div class="row">
                                <h5 class="text-center text-danger"> You are about to request a Patient Transfer Service to your own location </h5>
                                <div class="form-group col-md-6">
                                    <input type="text" name="name" class="form-control" placeholder="Patient Name" required="required">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="email" name="phone" class="form-control" placeholder="Patient Phone" required="required">
                                </div>

                                <div class="form-group col-md-6">
                                    <input type="text" name="Region" class="form-control" placeholder="detailed address" required="required">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" name="location" class="form-control" placeholder="detailed address" required="required">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" name="Ambulancetype" class="form-control" placeholder="type" required="required">
                                </div>

                                <div class="form-group col-md-12" >
                                    <textarea rows="5" name="description" class="form-control" placeholder="recommended ambulance type" required="required"></textarea>
                                </div>
                                <!-- Hidden input fields to store latitude and longitude -->

                                <div class="col-md-12 text-center">
                                    <button type="submit" value="Send message" name="submit" id="submitButton" class="btn btn-danger" >Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <script th:src="@{/webjars/bootstrap/5.3.1/js/bootstrap.bundle.min.js}"></script>
            </div>
        </div>
</body>
</html>
