<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Agencies</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Include Bootstrap JavaScript and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{css/test.css}">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>

    <style>
        .chat-box {
            background-color: #ffffff;
            border-radius: 8px;
            padding: 10px;
            margin-bottom: 10px;
            max-width: 80%;
        }

        .user-chat {
            background-color: lavender;
            align-self: flex-start;
        }
    </style>
</head>
<body style="background: silver">
<div class="d-flex">

<div th:replace="fragments/Adimnheader :: header"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="d-flex flex-column align-items-start">
                <div th:each="feed, feedIndex : ${feeds}" class="chat-box user-chat">

                    <p><span> <img width="16" height="16" src="https://img.icons8.com/office/16/user.png" alt="user"/>
                        </span> <span th:text="${feed.user.username}"></span></p>
                    <p>Rating: <span th:text="${feed.rate}"></span></p>
                    <p th:if="${feed.improvement != null}" th:text="${feed.improvement}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
