
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Include Bootstrap JavaScript and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body{
            background: lavender;
        }
        /* Styles for active users */
        .active-user {
            /* Example styles: change as needed */
            background: whitesmoke; /* Change text color to gray for active users */
        }

        /* Styles for inactive users */
        .inactive-user {
            /* Example styles: change as needed */
            background:lavender ; /* Change text color to blue for inactive users */
        }

    </style>
</head>
<body >
<div th:replace="fragments/Adimnheader :: header"></div>

<div class="container">
    <div class="d-flex justify-content-end align-items-end" >
        <button type="button" style="margin: 20px 0 ; background: #155FA9"  class="btn text-light mb-0" data-toggle="modal" data-target="#exampleModalCenter">
            Create Account
            <img width="24" height="24" src="https://img.icons8.com/pulsar-line/48/FFFFFF/add-user-male.png" alt="add-user-male"/>
        </button>
    </div>
    <div class="modal fade mt-1" id="exampleModalCenter" tabindex="-1"
         role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form th:action="@{/admin-create-withRole}" method="Post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Create</h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="form-check mt-3">
                            <input type="text" name="username" class="form-control" id="name"  required placeholder="username">
                        </div>
                        <div class="form-check mt-3">
                            <input type="text" name="email" class="form-control" id="email"  required placeholder="email">
                        </div>

                        <div class="form-check mt-3">

                        <input type="text" name="phone" class="form-control" id="phone" required placeholder="phone">
                        </div>
                        <div th:each="statusOption : ${T(com.dgpad.thyme.model.enums.Role).values()}">
                            <div th:unless="${statusOption.name() == 'PATIENT'}">
                                <input type="radio" class="form-check-input"
                                       th:id="${'status_' + statusOption}"
                                       name="role"
                                       th:value="${statusOption.name()}"
                                       checked="${role == statusOption}"
                                       th:attr="data-role=${statusOption}" />
                                <label th:for="${'status_' + statusOption}" th:text="${statusOption}"></label>
                                <br>
                            </div>
                        </div>
                        <input type="text" name="publicname" class="form-control" id="publicname" placeholder="publicname" style="display: none">
                        <select id="agency" name="agency" class="form-control"   style="display: none">
                            <option value="">Select Category</option>
                            <option th:each="agency : ${agencies}" th:value="${agency.id}" th:text="${agency.name}"></option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">Close</button>
                        <input type="submit" value="Save Changes" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="row rounded border" style="background: white">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3 mt-3" th:each="user, categoryIndex : ${users}" >
            <div th:classappend="${user.enabled} ? 'active-user' : 'inactive-user'">
                <div class="card-body ">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="card-title">
                            <h5 th:text="${user.username}" style="color: #155FA9"></h5>
                        </div>
                        <div class="ml-auto mr-1">
                            <button th:if="${user.role !='PATIENT'}" style="border: none; background: transparent " data-toggle="modal" th:attr="data-target='#emailModal'+${user.id}">
                                <img width="24" height="24" src="https://img.icons8.com/pulsar-line/48/228BE6/mail.png" alt="mail"/>
                            </button>
                            <button style="border: none ; background: transparent" data-toggle="modal" th:attr="data-target='#updateModal'+${user.id}">
                            <img width="24" height="24" src="https://img.icons8.com/fluency-systems-filled/48/737373/edit-user.png" alt="edit-user"/>
                            </button>
                        </div>
                    </div>
                    <div class="card-text">
                        <p th:text="${user.email}"> </p>
                        <p th:text="${user.enabled ? 'Active' : 'Not Active'}"></p>
                        <p th:text="${user.role.name}"></p>
                        <p th:text="${user.phone}"></p>
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-secondary" th:if="${user.enabled}" th:href="@{users/deactivate/{id}(id=${user.id.toString()})}">
                        Deactivate
                    </a>
                    <a class="btn btn-info" th:unless="${user.enabled}" th:href="@{users/activate/{id}(id=${user.id.toString()})}">
                        Activate
                    </a>
                    <a class="btn btn-danger" th:href="@{users/block/{id}(id=${user.id.toString()})}"
                       th:unless="${#strings.contains(user.role, 'ADMIN')}">
                        <img width="24" height="24" src="https://img.icons8.com/external-tanah-basah-basic-outline-tanah-basah/24/FFFFFF/external-block-user-user-tanah-basah-basic-outline-tanah-basah.png" alt="external-block-user-user-tanah-basah-basic-outline-tanah-basah"/>                        Block
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--    update modal-->
<div th:each="user : ${users}" th:id="'updateModal'+${user.id}" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Input fields for updating data -->
            <form th:action="@{/edit-account}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control" type="text" name="id" id="id" th:value="${user.id}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="updatedName">New User Name:</label>
                        <input type="text" class="form-control" id="updatedName" name="updatedName" th:value="${user.username}" placeholder="Category Name" required>
                    </div>
                    <div class="form-group">
                        <label for="updatedName">New Email :</label>
                        <input type="email" class="form-control" id="updatedEmail" name="updatedEmail" th:value="${user.email}" placeholder="Category Name" required>
                    </div>
                    <div class="form-group">
                        <label for="updatedName">New Phone :</label>
                        <input type="tel" class="form-control" id="updatedPhone" name="updatedPhone" th:value="${user.phone}" placeholder="Category Name" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--    mail modal-->
<div th:each="user : ${users}" th:id="'emailModal'+${user.id}" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Input fields for updating data -->
            <form th:action="@{/send-mail}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="to">Recipient</label>
                        <input class="form-control" type="text" name="to" id="to" th:value="${user.email}" readonly>

                    </div>
                    <div class="form-group">
                        <label for="massage"> Mail content</label>
                        <input type="text" class="form-control" id="subject" name="subject"  required>
                    </div>
                    <div class="form-group">
                        <label for="massage"> Mail content</label>
                        <input type="text" class="form-control" id="massage" name="massage"  required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">send</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('input[type=radio][name=role]').change(function () {
            var publicNameInput = $('#publicname');
            var agencySelect = $('#agency');
            const agency = document.getElementById("agency");
            const publicname = document.getElementById("publicName");


            if (this.getAttribute('data-role') === 'AMBULANCE') {
                publicNameInput.show();
                agencySelect.show();

            } else if (this.getAttribute('data-role') === 'HOSPITAL') {
                publicNameInput.show();
                agencySelect.hide();
                agency.style.display="none";

            } else {
                publicNameInput.hide();
                agencySelect.hide();
                publicname.style.display="block";
                agency.style.display="block";
            }

            // Set values to null when hidden
            if (!publicNameInput.is(':visible')) {
                publicNameInput.val(null);
            }
            if (!agencySelect.is(':visible')) {
                agencySelect.val(null);
            }
            $('#createForm :input').prop('disabled', !publicNameInput.is(':visible'));

        });

    });

</script>

</body>

</html>
