<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Requests</title>

    <link rel="stylesheet" th:href="@{css/test.css}">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Include Bootstrap JavaScript and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="background: #dbe2f4">

<div class="container-fluid">
    <div class="d-flex">


    <div th:replace="fragments/Hheader :: header"></div>
        <div class="credits ml-5 mt-5">
            <div th:fragment="requests" th:if="${(requests != null and not #lists.isEmpty(requests))}" >
            <div class="container-fluid" th:if="${(requests != null and not #lists.isEmpty(requests))}">
                <h5>Requests</h5>
    <table class="table table-light mb-0" >
        <thead class="small text-uppercase bg-body text-muted">
        <tr>
            <th>Reservation Type</th>
            <th>Patient Name</th>
            <th >Medical Record</th>
            <th >Need Ambulance</th>
            <th >Ambulance Agencies</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr class="align-middle" th:each="request : ${requests}"  th:if="${request.status != request.status.RESERVED }" th:unless="${request.status == request.status.Deleted}">
<!--            <td th:text="${request.id}" ></td>-->
            <td th:text="${request.reservationType}"></td>
            <td th:text="${request.patient.username}" ></td>
            <td>
                <a data-toggle="modal" th:attr="data-target='#detailsModal'+${request.id}"> view details</a>

            </td>
            <td th:text="${request.needAmbulance}" ></td>
            <td >
                <ul>
                    <li th:each="ambulance : ${request.preferedAmbulance}" th:text="${ambulance.name}"></li>
                </ul>
            </td>
            <td th:text="${request.status}"></td>
            <td>

                <div th:if="${ request.status == request.status.PENDING}">
                    <th:block th:if="${request.needAmbulance}">
                        <button class="btn btn-primary" data-toggle="modal" th:attr="data-target='#updateModal'+${request.id}">
                            Accept
                        </button>
                    </th:block>
                    <th:block th:unless="${request.needAmbulance}">
                        <a class="btn btn-success"  th:href="@{/change-requestStatus/{status}/{id}(status=${request.status.ACCEPTED},id=${request.id})}">Accept</a>
                    </th:block>
                    <a class="btn btn-danger"  th:href="@{/change-requestStatus/{status}/{id}(status=${request.status.Rejected},id=${request.id})}">Deny</a>
                </div>

            </td>
        </tr>
        </tbody>
    </table>
</div>
                <div th:each="request : ${requests}" th:id="'detailsModal'+${request.id}" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Update Category</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div>
                                <h5 th:text="${request.patient.phone + ' ' + request.patient.insurance}"></h5>
                                <h5 th:text="${request.patient.age + ' ' + request.patient.gender}"></h5>
                                <h5 th:text="${request.patient.nationality}"></h5>

                                <img th:if="${request.patient.identityCardImage.id != null}" th:src="@{/image/{imageId}(imageId=${request.patient.identityCardImage.id})}" class="img-thumbnail" alt=" Image">

                                <h5 th:text="${request.medicalRecord}" ></h5>
                                <div th:each="image :${ request.DoctorReport}" >
                                    <img th:if="${image.id != null}" th:src="@{/image/{imageId}(imageId=${image.id})}" class="img-thumbnail" alt=" Image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<div th:each="request : ${requests}" th:id="'updateModal'+${request.id}" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">add prefered ambulance before accepting </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Input fields for updating data -->
            <form th:action="@{/accept-request}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="id">Request ID </label>
                        <input class="form-control" type="text" name="id" id="id" th:value="${request.id}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="type">Request ID </label>
                        <select name="type" class="form-control" id="type" required>
                            <option name="type" th:each="type : ${T(com.dgpad.thyme.model.enums.Ambulancetypes).values()}"
                                    th:value="${type}" th:text="${type.name()}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
        </div>
    </div>
</div>
</div>
</body>
</html>
