<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Requests</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<th:block th:if="${userrole == 'PATIENT'}">
    <div th:replace="fragments/Pheader :: header"></div>
</th:block>
<th:block th:unless="${userrole == 'PATIENT'}">
    <div th:replace="fragments/hheader :: header"></div>
</th:block>

<div class="container mt-3">
    <h5>Requests</h5>
    <table class="table mb-0">
        <thead class="small text-uppercase bg-body text-muted">
        <tr>
            <th th:if="${userrole.toString() == 'HOSPITAL'}">ID</th>
            <th th:if="${userrole.toString() == 'PATIENT'}">Hospital Name</th>
            <th>Reservation Type</th>
            <th th:if="${userrole.toString() == 'HOSPITAL'}">Patient Name</th>
            <th th:if="${userrole.toString() == 'HOSPITAL'}">Medical Record</th>
            <th th:if="${userrole.toString() == 'HOSPITAL'}">Need Ambulance</th>
            <th th:if="${userrole.toString() == 'HOSPITAL'}">Ambulance Agencies</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr class="align-middle" th:each="request : ${requests}" >
            <td th:text="${request.id}" th:if="${userrole == 'HOSPITAL'}"></td>
            <td th:text="${request.hospital.publicName}" th:if="${userrole == 'PATIENT'}"></td>
            <td th:text="${request.reservationType}"></td>
            <td th:text="${request.patient.username}" th:if="${userrole == 'HOSPITAL'}"></td>
            <td th:text="${request.medicalRecord}" th:if="${userrole == 'HOSPITAL'}"></td>
            <td th:text="${request.needAmbulance}" th:if="${userrole== 'HOSPITAL'}"></td>
            <td th:if="${userrole == 'HOSPITAL'}">
                <ul>
                    <li th:each="ambulance : ${request.preferedAmbulance}" th:text="${ambulance.name}"></li>
                </ul>
            </td>
            <td th:text="${request.status}"></td>
            <td>
                <!-- Show buttons based on userrole and status -->
                <div th:if="${userrole.toString() == 'PATIENT' and request.status== request.status.ACCEPTED}">
                    <a class="btn btn-primary" th:href="@{/change-requestStatus/{status}/{id}(status=${request.status.CONFIRMED},id=${request.id})}">Confirm</a>
                </div>
                <div th:if="${userrole.toString() == 'PATIENT' and request.status== request.status.PENDING}">
                    <a class="btn btn-primary" th:href="@{/change-requestStatus/{status}/{id}(status=${request.status.Deleted},id=${request.id})}">Delete</a>
                </div>

                <div th:if="${userrole.toString() == 'HOSPITAL'}">
                    <a class="btn btn-success" th:if="${request.status== request.status.PENDING}" th:href="@{/change-requestStatus/{status}/{id}(status=${request.status.ACCEPTED},id=${request.id})}">Accept</a>
                    <a class="btn btn-danger" th:if="${request.status== request.status.PENDING}" th:href="@{/change-requestStatus/{status}/{id}(status=${request.status.Rejected},id=${request.id})}">Deny</a>
<!--                    <div th:if="${request.status.toString() == 'CONFIRMED'}">-->
<!--                        <a class="btn btn-danger" th:href="@{/confirm-request/{id}(id=${request.id})}">Reserve</a>-->
<!--                    </div>-->
                    <button class="btn btn-primary" data-toggle="modal" th:attr="data-target='#updateModal'+${request.id}">
                        Accept
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:each="request : ${requests}" th:id="'updateModal'+${request.id}" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reservation details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Input fields for updating data -->
            <form th:action="@{/accept-request}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="id">bed id </label>
                        <input class="form-control" type="text" name="id" id="id" th:value="${request.id}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="cat">bed category </label>
                        <input class="form-control" type="text" name="cat" id="cat" th:value="${bed.category.name}" readonly>

                    </div>
                    <div class="form-group">
                        <label for="nbbed">number of beds available </label>
                        <input type="number" class="form-control" id="nbbed" name="nbbed" th:value="${bed.nbBeds}" placeholder="Section Name" required>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
<!-- Include Bootstrap JavaScript and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
