<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reservation</title>

    <link rel="stylesheet" th:href="@{css/test.css}">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Include Bootstrap JavaScript and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="background: #dbe2f4">
<div class="container-fluid">
    <div class="d-flex">

        <th:block th:if="${user.role.toString() == 'PATIENT'}">
            <div th:replace="fragments/Pheader :: header"></div>
        </th:block>
        <th:block th:unless="${user.role.toString() == 'PATIENT'}">
            <div th:replace="fragments/Hheader :: header"></div>
        </th:block>

        <div class="credits ml-5 mt-5">
            <div class="container-fluid">
                <h5>Reservations</h5>
                <table class="table table-light mb-0">
                    <thead class="small text-uppercase bg-body text-muted">
                    <tr>
                        <th th:if="${user.role.toString() == 'HOSPITAL'}">Reservation ID</th>
                        <th th:if="${user.role.toString() == 'PATIENT'}">Hospital Name</th>
                        <th>Reservation Type</th>
                        <th th:if="${user.role.toString() == 'HOSPITAL'}">Patient Name</th>
                        <th>ambulances</th>

                        <th th:if="${user.role.toString() == 'HOSPITAL'}">Medical Record</th>

                        <th>Bed</th>

                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="align-middle" th:each="reservation : ${reservations}" >
                        <td th:text="${reservation.id}" th:if="${user.role.toString() == 'HOSPITAL'}"></td>
                        <td th:text="${reservation.hospital.publicName}" th:if="${user.role.toString() == 'PATIENT'}"></td>
                        <td th:text="${reservation.reservationType}"></td>

                        <td th:if="${user.role.toString() == 'HOSPITAL' && reservation.patient?.username == null}">reserved by ambulance</td>
                        <td th:if="${user.role.toString() == 'HOSPITAL' && reservation.patient?.username != null}" th:text="${reservation.patient.firstName + ' ' + reservation.patient.lastName}"></td>

                        <td>
                            <div  th:if="${#lists.isEmpty(reservation.ambulanceRequests)}">
                                no ambulance required/available
                            </div>
                            <div th:each="request : ${reservation.getAmbulanceRequests()}">
                                <p th:text="${request.ambulance.publicName} + ${ request.status}"></p>
                            </div>
                        </td>

                        <td th:text="${reservation.medicalRecord}" th:if="${user.role.toString() == 'HOSPITAL'}"></td>
                        <td th:text="${reservation.bednum != null && reservation.floornum != null ? reservation.bednum + reservation.floornum : 'N/A'}"></td>

                        <td th:text="${#temporals.format(reservation.createdAt, 'dd-MM-yyyy HH:mm')}" ></td>
                        <td>
                            <button class="btn btn-primary" data-toggle="modal" th:if="${user.role.toString() == 'HOSPITAL'}" th:attr="data-target='#updateModal'+${reservation.id}">
                                Update
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--    update modal-->
<div th:each="reservation : ${reservations}" th:id="'updateModal'+${reservation.id}" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update reservation details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Input fields for updating data -->
            <form th:action="@{/update-reservation}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control" type="text" name="id" id="id" th:value="${reservation.id}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="bed"> bed number:</label>
                        <input type="text" class="form-control" id="bed" name="bed" th:value="${reservation.bednum}" placeholder="Paramedic Name" required>
                    </div>
                    <div class="form-group">
                        <label for="floor">floor number:</label>
                        <input type="number" max="20" min="1" class="form-control" id="floor" name="floor" th:value="${reservation.floornum}" placeholder="Paramedic Name" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
