<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Include Bootstrap JavaScript and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{css/test.css}">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
     <style>
        .radius-10 {
            border-radius: 10px !important;
        }

        .border-info {
            border-left: 5px solid #0dcaf0 !important;
        }

        .border-danger {
            border-left: 5px solid red !important;
        }

        .border-success {
            border-left: 5px solid darkgrey !important;
        }

        .border-warning {
            border-left: 5px solid #ffc107 !important;
        }


        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0px solid rgba(0, 0, 0, 0);
            border-radius: .25rem;
            margin-bottom: 1.5rem;
            box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
        }
        .widgets-icons-2 {
            width: 56px;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ededed;
            font-size: 27px;
            border-radius: 10px;
            z-index: 2;
        }

        .rounded-circle {
            border-radius: 50% !important;
        }

        .text-white {
            color: #fff !important;
        }

        .ms-auto {
            margin-left: auto !important;
        }
        .bg-gradient-blooker {
            background: #ffdf40;
            background: -webkit-linear-gradient(
                    45deg, #ffdf40, #ff8359) !important;
            background: linear-gradient(
                    45deg, #ffdf40, #ff8359) !important;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="d-flex">
        <div th:replace="fragments/Aheader :: header"></div>
        <div class="credits ml-5 mt-5">
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
                    <div class="col">
                        <div class="card radius-10 border-start border-0 border-3 border-info">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <p class="mb-0 text-secondary">Rank</p>
                                        <h4 class="my-1 text-info" th:text="${analytics.get(0)}"></h4>
                                    </div>
                                    <div class="widgets-icons-2 rounded-circle  text-white ms-auto border-info">
                                        <img width="100" height="100" src="https://img.icons8.com/bubbles/100/leaderboard.png" alt="leaderboard"/>                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card radius-10 border-start border-0 border-3 border-danger">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <p class="mb-0 text-secondary">Available Cars</p>
                                        <h4 class="my-1 text-danger" th:text="${analytics.get(1)}"></h4>
                                    </div>
                                    <div class="widgets-icons-2 rounded-circle  text-white ms-auto">
                                        <img width="100" height="100" src="https://img.icons8.com/bubbles/100/ambulance.png" alt="ambulance"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card radius-10 border-start border-0 border-3 border-warning">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-0">
                                    <div>
                                        <p class="mb-0  text-secondary">TotalParamedics</p>
                                        <h4 class="my-1 text-warning" th:text="${analytics.get(2)}"></h4>
                                    </div>
                                    <div class="widgets-icons-2 rounded-circle bg-gradient-blooker text-white ms-auto">
                                        <img width="64" height="64" src="https://img.icons8.com/external-victoruler-linear-colour-victoruler/64/external-paramedic-medical-staff-characters-victoruler-linear-colour-victoruler-1.png" alt="external-paramedic-medical-staff-characters-victoruler-linear-colour-victoruler-1"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card radius-10 border-start border-0 border-3 border-success">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <p class="mb-0 text-secondary">Top Paramedic</p>
                                        <h4 class="text-success" th:text="${topParamedicForCurrentMonth != null} ? ${topParamedicForCurrentMonth.name} : 'N/A'"></h4>
                                    </div>
                                    <div class="widgets-icons-2 rounded-circle  text-white ms-auto">
                                        <img width="100" height="100" src="https://img.icons8.com/bubbles/100/medal2-1.png" alt="medal2-1"/>                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" mt-1 row row-cols-1 row-cols-md-1 row-cols-xl-1 mr-1">

                    <div th:if="${ requests != null and not #lists.isEmpty(requests)}">
                        <table class="table table-light table-responsive">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Request type</th>
                                <th scope="col">Sender Name</th>
                                <th scope="col">Sender Phone</th>
                                <th scope="col">Description</th>
                                <th scope="col">From</th>
                                <th scope="col">To</th>
                                <th scope="col">Created at</th>

                                <th scope="col"> Activity</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="request : ${requests}" >
                                <td th:text="${request.service}"></td>
                                <td th:text="${request.getSender().username}"></td>
                                <td th:text="${request.getSender().phone}"></td>
                                <td th:text="${request.description}"></td>

                                <td>
                                    <a th:if="${request.pickupaddress != null and request.pickupaddress.latitude != null and request.pickupaddress.longitude != null}"
                                       th:href="'https://www.google.com/maps?q=' + ${request.pickupaddress.latitude} + ',' + ${request.pickupaddress.longitude}"
                                       target="_blank" >
                                        View on Map
                                    </a>
                                </td>

                                <td>
                                    <th:block th:if="${request.to != null and request.to.latitude != null and request.to.longitude != null and request.to.REGION != null}">
                                        <a th:text="${request.hospital.publicName}"></a>
                                    </th:block>
                                    <th:block th:else="">
                                        <th:block th:if="${request.to != null and request.to.latitude != null and request.to.longitude != null}">
                                            <a th:href="'https://www.google.com/maps?q=' + ${request.to.latitude} + ',' + ${request.to.longitude}" target="_blank">
                                                View on Map
                                            </a>
                                        </th:block>
                                    </th:block>
                                </td>


                                <td th:text="${request.getCreatedAt().hour+':'+ request.getCreatedAt().minute}"></td>
                                <td>
                                    <a class="btn btn-primary" th:href="@{/acceptRequest(id=${request.id})}">
                                        Accept
                                    </a>
                                    <a class="btn btn-warning" th:href="@{/rejectRequest(id=${request.id})}">
                                        Reject
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-1 row-cols-xl-2">
                    <div class="col" style="background: whitesmoke">
                        <canvas id="equipmentPricesChart" width="600" height="300"></canvas>
                    </div>
                    <div class="col" style="background: whitesmoke">
                        <canvas id="RequestsChart" width="600" height="300"></canvas>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    $(document).ready(function () {
        var ctx = document.getElementById('equipmentPricesChart').getContext('2d');
        var totalPrices = /*[[${equipments.values()}]]*/ [];
        var months = /*[[${equipments.keySet()}]]*/ [];

        var chartData = {
            labels: months,
            datasets: [{
                label: 'Total Equipment Prices',
                data: totalPrices,
                borderColor: 'blue',
                backgroundColor: 'rgba(0, 0, 255, 0.1)', // Optional background color
                borderWidth: 1
            }]
        };

        var options = {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true // Start y-axis from zero
                    }
                }]
            }
        };

        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: chartData,
            options: options
        });
    });
</script>
<script th:inline="javascript">
    $(document).ready(function () {
        var ctx = document.getElementById('RequestsChart').getContext('2d');
        var acceptedrequestsPerMonthData = /*[[${requestsPerMonth}]]*/ []; // Map<Month, Integer>
        var requestsPerMonthData = /*[[${acceptedrequestsPerMonth}]]*/ []; // Map<Month, Integer>

        var patientsPerMonthData = /*[[${patientsPerMonth}]]*/ []; // Map<Month, Integer>

        // Extracting months and data from the maps
        var months = Object.keys(requestsPerMonthData);
        var requestsPerMonth = Object.values(requestsPerMonthData);
        var acceptedrequestsPerMonth = Object.values(acceptedrequestsPerMonthData);

        var patientsPerMonth = Object.values(patientsPerMonthData);
        var chartData = {
            labels: months,
            datasets: [ {
                label: 'Requests',
                data: requestsPerMonth,
                borderColor: 'rgb(122,157,246)',
                backgroundColor: 'rgb(122,157,246)', // Optional background color
                borderWidth: 1
            },{
                label: 'AcceptedRequests',
                data: acceptedrequestsPerMonth,
                borderColor: 'rgb(75,201,118)',
                backgroundColor: 'rgb(75,201,118)', // Optional background color
                borderWidth: 1
            }, {
                label: 'Patients',
                data: patientsPerMonth,
                borderColor: 'orange',
                backgroundColor: 'rgba(255, 165, 0, 0.1)', // Optional background color
                borderWidth: 1
            }]
        };

        var options = {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true // Start y-axis from zero
                    }
                }]
            }
        };

        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: chartData,
            options: options
        });
    });
</script>



</body>
</html>
