<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Requests</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Include Bootstrap JavaScript and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{css/test.css}">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
</head>
<body>

<div class="container-fluid">
    <div class="d-flex">
        <div th:replace="fragments/Aheader :: header"></div>
        <div class="credits ml-5 mt-5">
            <div class="container-fluid">

            <div class=" mt-3" >
                <h5>Hospital Requests</h5>
                <table class="table table-light">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Request type</th>
                        <th scope="col">sender Name</th>
                        <th scope="col">sender Phone</th>
                        <th scope="col">from</th>
                        <th scope="col">To</th>
                        <th scope="col">Car Type</th>
                        <th scope="col">status</th>
                        <th scope="col">staff</th>
                        <th scope="col">created at</th>
                        <th scope="col"> description</th>
                        <th scope="col"></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="request : ${requests}" th:if="${request.isFrom_hospital() && request.status != request.status.PENDING}" >
                        <td th:text="${request.service}"></td>
                        <td th:text="${request.getSender().username}"></td>
                        <td th:text="${request.getSender().phone}"></td>
                        <td>
                            <th:block th:if="${request.pickupaddress != null and request.pickupaddress.latitude != null and request.pickupaddress.longitude != null and request.pickupaddress.REGION != null}">
                                <a th:text="${request.hospital.publicName}"></a>
                            </th:block>
                            <th:block th:else="">
                                <th:block th:if="${request.pickupaddress != null and request.pickupaddress.latitude != null and request.pickupaddress.longitude != null}">
                                    <a th:href="'https://www.google.com/maps?q=' + ${request.pickupaddress.latitude} + ',' + ${request.pickupaddress.longitude}" target="_blank">
                                        View on Map
                                    </a>
                                </th:block>
                            </th:block>
                        </td>
                        <td>
                            <th:block th:if="${request.to != null and request.to.latitude != null and request.to.longitude != null and request.to.REGION != null}">
                                <a th:text="${request.hospital.publicName}"></a>
                            </th:block>
                            <th:block th:else="">
                                <th:block th:if="${request.to != null and request.to.latitude != null and request.to.longitude != null}">
                                    <a th:href="'https://www.google.com/maps?q=' + ${request.to.latitude} + ',' + ${request.to.longitude}" target="_blank">
                                        View on Map
                                    </a>
                                </th:block>
                            </th:block>
                        </td>

                        <td th:text="${request.car_type}"></td>

                        <td th:text="${request.status}"></td>
                        <td th:text="${request.staff != null ? request.staff.name : 'N/A'}"></td>
                        <td th:text="${request.createdAt}"></td>
                        <td th:text="${request.description != null ? request.description : 'N/A'}"></td>

                        <td>
                            <button class="btn btn-primary" data-toggle="modal" th:attr="data-target='#updateHModal'+${request.id}">
                                modify details
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:each="request : ${requests}" th:id="'updateHModal'+${request.id}" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <form th:action="@{/update-hrequestdetails}" method="get">
                        <div class="modal-header">
                            <h5 class="modal-title" id="detailsHModalLongTitle">Add details</h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            <input type="hidden" name="id"  th:value="${request.id}" />
                            <input readonly  th:value="${request.car_type}" />
                            <div class="form-group">
                                <label for="ucar">Select Car number:</label>
                                <select  name="car" class="form-control">
                                    <option th:each="c : ${cars}" th:value="${c.id}" th:text="${c.type}+' _ '+${c.id}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="paramedic">Select Paramedic:</label>
                                <select class="form-control" id="paramedic" name="paramedic" required>
                                    <option th:each="staff : ${stafflist}" th:value="${staff.id}" th:text="${staff.name}"></option>
                                </select>
                            </div>
                            <input type="text" class="form-control" name="equipment" th:value="${request.equipments}" placeholder="Equipment">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">Close</button>
                            <input type="submit" value="Save Changes" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
            </div>

        <h5>Patients Requests</h5>
        <table class="table table-light table-responsive">
            <thead class="thead-light">
            <tr>
                <th scope="col">Request type</th>
                <th scope="col">sender Name</th>
                <th scope="col">sender Phone</th>
                <th scope="col">from</th>
                <th scope="col">To</th>
                <th scope="col">status</th>
                <th scope="col">staff</th>
                <th scope="col">created at</th>
                <th scope="col"> description</th>
                <th scope="col"></th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="request : ${requests}" th:if="${!request.isFrom_hospital() && request.status != request.status.PENDING && request.sender != current_user}">
                <td th:text="${request.service}"></td>
                <td th:text="${request.getSender().username}"></td>
                <td th:text="${request.getSender().phone}"></td>
                <td>
<!--                    <th:block th:if="${request.pickupaddress != null and request.pickupaddress.latitude != null and request.pickupaddress.longitude != null and request.pickupaddress.REGION != null}">-->
<!--                        <a th:text="${request.hospital.publicName}"></a>-->
<!--                    </th:block>-->
<!--                    <th:block th:else="">-->
<!--                        <th:block th:if="${request.pickupaddress != null and request.pickupaddress.latitude != null and request.pickupaddress.longitude != null}">-->
<!--                            <a th:href="'https://www.google.com/maps?q=' + ${request.pickupaddress.latitude} + ',' + ${request.pickupaddress.longitude}" target="_blank">-->
<!--                                View on Map-->
<!--                            </a>-->
<!--                        </th:block>-->
<!--                    </th:block>-->
                </td>
                <td>
                    <th:block th:if="${request.to != null and request.to.latitude != null and request.to.longitude != null and request.to.REGION != null}">
                        <a th:text="${request.hospital.publicName}"></a>
                    </th:block>
                    <th:block th:else="">
                        <th:block th:if="${request.to != null and request.to.latitude != null and request.to.longitude != null}">
                            <a th:href="'https://www.google.com/maps?q=' + ${request.to.latitude} + ',' + ${request.to.longitude}" target="_blank">
                                View on Map
                            </a>
                        </th:block>
                    </th:block>
                </td>

                <td th:text="${request.status}"></td>
                <td th:text="${request.staff != null ? request.staff.name : 'N/A'}"></td>
                <td th:text="${request.createdAt}"></td>
                <td th:text="${request.description}"></td>

                <td>
                    <button class="btn btn-danger" th:if="${request.service != request.service.transfer }" data-toggle="modal" th:attr="data-target='#emergencyModal'+${request.id}">
                        request hospital
                    </button>
                    <button class="btn btn-primary" data-toggle="modal" th:attr="data-target='#updateModal'+${request.id}">
                        modify details
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:each="request : ${requests}" th:id="'updateModal'+${request.id}" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <form th:action="@{/update-requestdetails}" method="get">
                        <div class="modal-header">
                            <h5 class="modal-title" id="detailsModalLongTitle">Add details</h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            <input type="hidden" name="id" th:value="${request.id}" />
                            <div class="form-group">
                                <label for="stype">Select Survice Type:</label>
                                <select name="stype" class="form-control" id="stype" required>
                                    <option th:each="service : ${T(com.dgpad.thyme.model.enums.Ambulanceservice).values()}"
                                            th:value="${service}" th:text="${service.name()}">
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="ucar">Select Car number:</label>
                                <select id="ucar" name="car" class="form-control">
                                    <option th:each="c : ${cars}" th:value="${c.id}" th:text="${c.type}+' _ '+${c.id}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="nstaff">Select Paramedic:</label>
                                <select id="nstaff" name="nstaff" class="form-control" required>
                                    <option th:each="staff : ${stafflist}" th:value="${staff.id}" th:text="${staff.name}"></option>
                                </select>
                            </div>

                            <input type="text" class="form-control" name="newdescription" id="newdescription"  placeholder="Description" required>
                            <input type="text" class="form-control" name="equipment" id="nequipment" placeholder="Equipment">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">Close</button>
                            <input type="submit" value="Save Changes" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div th:each="request : ${requests}" th:id="'emergencyModal'+${request.id}" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <form th:action="@{/emergency-reservation}" method="post">
                        <div class="modal-header">
                            <h5 class="modal-title" id="emergencyModalLongTitle">Reserve Emergency bed</h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <input type="hidden" name="rid" id="rid" th:value="${request.id}" />

                        <div class="modal-body text-center" >
                            <div class="form-group">
                                <label for="hospital">Select Hospital:</label>
                                <select id="hospital" name="hospital" class="form-control" required>
                                    <option th:each="hospital : ${hospitals}" th:value="${hospital.id}" th:text="${hospital.publicName}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="car">Select Car number:</label>
                                <select id="car" name="car" class="form-control">
                                    <option th:each="c : ${cars}" th:value="${c.id}" th:text="${c.type}+' _ '+${c.id}"></option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="emergencystaff">Select Paramedic:</label>
                                <select id="emergencystaff" name="emergencystaff" class="form-control" required>
                                    <option th:each="staff : ${stafflist}" th:value="${staff.id}" th:text="${staff.name}"></option>
                                </select>
                            </div>
                            <input type="text" class="form-control" name="emergencydescription" id="emergencydescription"  placeholder="Description">
                            <input type="text" class="form-control" name="emergencyequipment" id="emergencyequipment" placeholder="Equipment">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">Close</button>
                            <input type="submit" value="Save Changes" class="btn btn-primary">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
    </div>
</body>
</html>
